<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name	="dbcs" connectionString="Data Source=DESKTOP-EBD6ON6\SQLEXPRESS;Initial Catalog=eventmanagement;Integrated Security=True;Encrypt=True;Trust Server Certificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>